/* Open Sauce One */
@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/public/fonts/OpenSauceOne/OpenSauceOne-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* Open Sauce Sans */
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/public/fonts/OpenSauceOne/OpenSauceSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* Open Sauce Two */
@font-face {
	font-family: 'Open Sauce Two';
	src: url('/public/fonts/OpenSauceOne/OpenSauceTwo-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('/public/fonts/OpenSauceOne/OpenSauceTwo-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('/public/fonts/OpenSauceOne/OpenSauceTwo-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}